body { 
    padding: 2em; 
}
.headerContainer{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    background-color: tomato;
    font-weight: bold;
    padding: 10px;
}
.mainContainer{
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
}
.footerContainer{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    background-color: lightgreen;
    font-weight: bold;
    padding: 10px;
}
.mainContainerItem{
    text-align: left;
    background: deepskyblue;
}
.sideBarLeftItem{
    background: gold;
}
.sideBarRightItem{
    background: hotpink;
}
article{
    padding: 10px;
    margin: 10px;
    background: aqua;
}
.sideBarItem {
    flex: 1 0 0;
    border: 0px solid green;
}
.mainContainerItem {
    flex: 3 0px;
}
.sideBarLeftItem{
    order: 1;
}
.mainContainerItem {
    order: 2;
}
.sideBarRightItem {
    order: 3;
}
